#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  display: flex;
  gap: 10px;
  padding: 1em;
  justify-content: center;
}

button {
  border-radius: 20px;
  border: 2.5px solid #BB8493;
  padding: 0.6em 1.2em;
  color: #FFCA28;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #49243E;
  cursor: pointer;
  transition: border-color 0.25s;
  min-width: 150px; 
  text-align: center;
}

button:hover {
  border-color: #FFCA28;
}

button:focus,
button:focus-visible {
  outline: 4px auto #FFCA28;
}

button.clicked {
  border-color: #FFCA28;
}

.read-the-docs {
  color: #888;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px; 
}

.confirm {
  background-color: #DBAFA0;
  border-radius: 7px;
  color: #49243E;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.confirm:hover {
  filter: drop-shadow(0 0 1em #888);
}

.ambientacao-image {
  max-width: 100%; 
  height: auto; 
  max-height: 300px; 
  border-radius: 8px; 
  margin: 5px 0 10px 0; 
}

.edit-input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 2px solid #1E1E1E;
}

.edit-input:focus {
  outline: none;
  border-color: #FFCA28;
}

.response-container {
  display: flex;
  gap: 0.5rem
}

.container {
  color: #49243E;
  width: calc(50% - 0.5rem);
  background-color: #DBAFA0; 
  padding: 10px;
  /* margin: 30px auto 0 auto;  */
  border-radius: 8px;
  text-align: center;
}

.container button {
  margin-top: 12px;
}

.container p {
  color: #49243E; 
  font-size: 16px;
  margin: 0;
}

.container h1 {
  color: #49243E; 
  font-size: 28px;
  margin: 0;
}

.container h2 {
  color: #49243E; 
  font-size: 24px;
  margin: 0;
}

.edite{
  padding: 5px;
  font-size: 16px;
}


